
      <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="Home.html#"><i class="fa-solid fa-hotel"></i> Grand Palace Hotel</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <!-- Rooms Section (optional - delete if not used) -->
            <li class="nav-item">
              <a class="nav-link" href="Home.html#rooms">Rooms</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Home.html#reviews">Reviews</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="login.html">For Staff</a>
            </li>
            <li class="nav-item">
              {% if session.get('firstname') %}
                <a class="nav-link" href="#">{{ session['firstname'] }}</a>
              {% else %}
                <a class="nav-link" href="/login">Sign In</a>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <script src="/static/scripts/bootstrap.bundle.min.js"></script>  