

<!-- {% extends "staff_navbar.html" %} -->

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
<div class="container mt-4">

    <!-- Search Bar -->
    <div class="d-flex justify-content-between mb-3">
        <h3 class="m-0"><i class="fa-solid fa-bed me-2"></i> Room List</h3>
            
        <input type="text" id="tableSearch" onkeyup="searchTable()"
               class="form-control w-25"
               placeholder="Search...">
    </div>

    <!-- Rooms Table -->
    <table id="dataTable" class="table table-bordered table-hover text-center align-middle">
        <thead class="table-primary">
            <tr>
                <th>Room #</th>
                <th>Type</th>
                <th>Status</th>
                <th>Floor</th>
                <!-- <th>Actions</th> -->
            </tr>
        </thead>
        <tbody>
            {% for r in rooms %}
            <tr>
                <td>{{ r.RoomNumber }}</td>
                <td>{{ r.TypeName }}</td>
                <td>
                    {% if r.Status == 'Available' %}
                        <span class="badge bg-success">{{ r.Status }}</span>
                    {% elif r.Status == 'Occupied' %}
                        <span class="badge bg-danger">{{ r.Status }}</span>
                    {% elif r.Status == 'Cleaning' %}
                        <span class="badge bg-warning text-dark">{{ r.Status }}</span>
                    {% elif r.Status == 'Maintenance' %}
                        <span class="badge bg-secondary">{{ r.Status }}</span>
                    {% else %}
                        <span class="badge bg-dark">{{ r.Status }}</span>
                    {% endif %}
                </td>
                <td>{{ r.FloorLevel }}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>

    
    {% if session.role.lower() == 'manager' %}
    <a href="{{ url_for('add_room') }}" class="btn btn-primary btn-sm">
        <i class="fa-solid fa-bed me-1"></i> Add Room
    </a>
    
    <a href="{{ url_for('add_room_type') }}" class="btn btn-success btn-sm">
        <i class="fa-solid fa-layer-group me-1"></i> Manage Types
    </a>
{% endif %}

</div>

<script>
function searchTable() {
    let input = document.getElementById("tableSearch").value.toLowerCase();
    let rows = document.querySelectorAll("#dataTable tbody tr");

    rows.forEach(row => {
        row.style.display = row.textContent.toLowerCase().includes(input) ? "" : "none";
    });
}
</script>
{% endblock %}
